flows.json
[{"id":"c9e51d7.14fe5e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7ff42aa6.0393d4","type":"ui_form","z":"c9e51d7.14fe5e","name":"","label":"","group":"9578125c.c8ab8","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":" Year","value":"b","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"text","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"text","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"text","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"text","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"text","required":true,"rows":null},{"label":"Measles ","value":"h","type":"text","required":true,"rows":null},{"label":"BMI ","value":"i","type":"text","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"text","required":true,"rows":null},{"label":"Polio","value":"k","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"text","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"text","required":true,"rows":null},{"label":"GDP","value":"o","type":"text","required":true,"rows":null},{"label":"Population","value":"p","type":"text","required":true,"rows":null},{"label":"thinness  1-19 years","value":"q","type":"text","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"text","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"text","required":true,"rows":null},{"label":"Schooling","value":"t","type":"text","required":true,"rows":null},{"label":"Developed","value":"u","type":"text","required":true,"rows":null},{"label":"Developing","value":"v","type":"text","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":"","v":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":160,"y":100,"wires":[["c2d5e8b6.8f3f78"]]},{"id":"c2d5e8b6.8f3f78","type":"function","z":"c9e51d7.14fe5e","name":"pre ","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.e);\nglobal.set(\"g\",msg.payload.e);\nglobal.set(\"h\",msg.payload.e);\nglobal.set(\"i\",msg.payload.e);\nglobal.set(\"j\",msg.payload.e);\nglobal.set(\"k\",msg.payload.e);\nglobal.set(\"l\",msg.payload.e);\nglobal.set(\"m\",msg.payload.e);\nglobal.set(\"n\",msg.payload.e);\nglobal.set(\"o\",msg.payload.e);\nglobal.set(\"p\",msg.payload.e);\nglobal.set(\"q\",msg.payload.e);\nglobal.set(\"r\",msg.payload.e);\nglobal.set(\"s\",msg.payload.e);\nglobal.set(\"t\",msg.payload.e);\nglobal.set(\"u\",msg.payload.e);\nglobal.set(\"v\",msg.payload.e);\n//following are required to receive a token\n\nvar apikey=\"8rnxC4VDV-Eipuz6Fp5RHlH1nW-ZBRJKgG8xpIv3gxNG\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["2ed95d5f.a97a62"]]},{"id":"c4ad868e.752a88","type":"function","z":"c9e51d7.14fe5e","name":"","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"c23617fa-08c4-4172-98eb-3a56942ef308\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar v = global.get(\"v\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Country\",\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\",\n       \" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\", \"Developed\",\n       \"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["93371384.8dc68"]]},{"id":"fe4b2cf7.060b7","type":"function","z":"c9e51d7.14fe5e","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["76c5e74c.a2d898","842adde7.703c7"]]},{"id":"2ed95d5f.a97a62","type":"http request","z":"c9e51d7.14fe5e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":160,"wires":[["c4ad868e.752a88"]]},{"id":"93371384.8dc68","type":"http request","z":"c9e51d7.14fe5e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c23617fa-08c4-4172-98eb-3a56942ef308/deployments/d0b9e9a6-505c-4bfc-93b4-e82310835afe/online","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":320,"wires":[["31afa719.51be78","fe4b2cf7.060b7"]]},{"id":"31afa719.51be78","type":"debug","z":"c9e51d7.14fe5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":180,"wires":[]},{"id":"842adde7.703c7","type":"debug","z":"c9e51d7.14fe5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":300,"wires":[]},{"id":"76c5e74c.a2d898","type":"ui_text","z":"c9e51d7.14fe5e","group":"9578125c.c8ab8","order":3,"width":0,"height":0,"name":"","label":"Life expected","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":420,"wires":[]},{"id":"9578125c.c8ab8","type":"ui_group","z":"","name":"Machine Learning Model","tab":"7d7db382.38ce2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7d7db382.38ce2c","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]